<ui:composition xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
  xmlns:h="http://xmlns.jcp.org/jsf/html">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#{request.contextPath}/" class="pull-left" ><h:graphicImage library="img" name="javaee-bs.png" /></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      <li><h:link id="headerTabHome" value="Home" outcome="/views/index.xhtml"/></li>
      <li><h:link id="headerTabAccount" value="Accounts" outcome="/views/accounts/accounts.xhtml"/></li>
      <li><h:link value="About" outcome="/views/about.xhtml"/></li>
      </ul>
      <a href="https://github.com/karlnicholas/javaee-security-archetype" class="navbar-right btn navbar-btn btn-success" role="button">View on GitHub</a>
    </div>
  </div>
</nav>
</ui:composition>
